<header class="bg-white shadow-md px-5 md:px-12 py-3">
  <nav>
    <h1 class="text-xl md:text-2xl m-0">
      <a class="font-bold text-black hover:text-black" href="/"
        >TikTok Examples</a
      ><span class="hidden md:inline-block px-3">|</span><span
        class="inline-block"
        >Case studies for audience growth that anyone can try</span
      >
    </h1>
  </nav>
</header>
