<header class="py-6 md:py-8 md:flex justify-center px-5">
  <nav
    class="max-w-screen-xl container flex justify-between md:grid md:grid-cols-3"
  >
    <a
      class="text-left justify-self-start md:flex self-center items-center"
      href="/"
    >
      <img
        class="w-20 hidden md:inline rounded-md border-2 border-stone-800 mr-2"
        src="/profile.webp"
      />
      <h1 class="font-bold font-['Caveat'] text-3xl inline">TikTok Examples</h1>
      <div class="text-sm md:hidden">3 new content ideas every week</div>
    </a>

    <div class="justify-self-center self-center hidden md:block">
      3 new content ideas every week
    </div>

    <img
      class="w-20 md:hidden rounded-md border-2 border-stone-800"
      src="/profile.webp"
    />

    <a
      data-eo-form-toggle-id="da20d574-d63f-11ee-ab69-45662228b6b6"
      href="#"
      class="hidden bg-rose-800 hover:bg-rose-900 text-white hover:text-white py-2 px-5 rounded text-sm md:text-lg md:flex items-center justify-center self-center justify-self-end"
    >
      Subscribe
    </a>
  </nav>
  <a
    data-eo-form-toggle-id="da20d574-d63f-11ee-ab69-45662228b6b6"
    href="#"
    class="bg-rose-800 hover:bg-rose-900 text-white hover:text-white py-2 px-5 rounded text-sm md:text-lg flex items-center justify-center h-full mt-5 md:hidden"
  >
    Subscribe
  </a>
</header>
