---
import { SITE_TITLE } from "../consts";
---

<header class="bg-white shadow-md px-5 md:px-12 py-3 container">
  <nav>
    <h1 class="text-xl md:text-3xl m-0">
      <a class="font-bold text-black hover:text-black" href="/">{SITE_TITLE}</a
      ><span class="hidden md:inline-block px-3">|</span><span
        class="inline-block">Bite-sized tips for TikTok success</span
      >
    </h1>
  </nav>
</header>
