---
import { SITE_TITLE } from "../consts";
---

<header class="bg-white shadow-md px-12 py-3 container">
  <nav>
    <h1 class="text-3xl m-0">
      <a class="font-bold text-black hover:text-black" href="/">
        {SITE_TITLE}
      </a> | Bite-sized tips for TikTok success
    </h1>
  </nav>
</header>
