<header class="bg-white shadow-md py-4 flex justify-center px-5">
  <nav class="max-w-screen-xl flex container justify-between items-center">
    <a href="/">
      <h1 class="text-[1.25rem] font-bold">
        <span>TikTok Examples</span>
        <span class="hidden lg:inline-block">|</span>
        <span class="hidden lg:inline-block">
          Giving you new ideas for audience growth!
        </span>
      </h1>
    </a>

    <div>
      <a
        data-eo-form-toggle-id="da20d574-d63f-11ee-ab69-45662228b6b6"
        href="#"
        class="bg-transparent hover:bg-gray-500 text-gray-700 hover:text-white py-2 px-5 border border-gray-500 hover:border-transparent rounded text-[1rem]"
      >
        Subscribe
      </a>
    </div>
  </nav>
</header>
